<div class="json_root">
    <div>
        <p class="json_object" key="thing">
        <div class="json_array_container" key="array"></p>
            <div class="json_array_item">
                <p class="json_array_value"></p>
            </div>
        </div>
    </div>
</div>
